html,
body {
  height: 100%;
  width: 100%;
  font-family: avenir !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.26);
}

.btn {
  width: 100px;
  height: 90px;
  box-sizing: border-box;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(250, 234, 234);
  box-sizing: border-box;
}

.inputBox {
  height: 150px;
  width: 400px;
  background-color: gray;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  font-size: 40px;
  cursor: default;
}

.inputText{
  overflow: scroll;
}
